<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>

        <link rel="icon" type="image/x-icon" href="../public/icon.ico">
        <title>Spliff-Splouf - Profile</title>
    </head>
    <body>
        <%- include('../Partials/navbar_components' , {title: 'docs'}) %>
        <div>
            
        </div>
        <%- include('../Partials/footer_components') %>
    </body>
</html>