<footer class="bg-blue-600 pt-4 pb-0 ">
  <div class="container mx-auto max-h-screen-sm text-gray-500 p-2">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-2">
      <div>
        <div class="flex flex-row items-center space-x-1">
          <svg width="40" height="40" viewBox="0 0 1012 1033" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M758.977 344.406L506.132 0L253 344.266L505.775 688.664L758.977 344.406ZM1012 688.706L759.136 344.35L505.954 688.615L758.758 1033L1012 688.706Z"
              fill="#2947E6" />
            <path d="M506 688.532L253.194 344L0 688.44L252.776 1033L506 688.532Z" fill="url(#paint0_linear_3_64)" />
            <defs>
              <linearGradient id="paint0_linear_3_64" x1="252.539" y1="1032.88" x2="252.999" y2="344"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#4265BE" />
                <stop offset="0.947917" stop-color="#08186B" />
              </linearGradient>
            </defs>
          </svg>
          <span class="text-white font-bold text-xs">Spliff-Splouf</span>
        </div>
        <p class="text-white mt-1 text-xs">Spécialisé dans les rencontres amoureuses, Spliff-Splouf est le site idéal
          pour trouver votre âme sœur.</p>
      </div>
      <div class="p-1">
        <h3 class="text-white font-bold mb-1 text-xs">Liens utiles</h3>
        <ul class="flex flex-col space-y-1">
          <li>
            <a href="#" class="text-white hover:underline text-xs">Conditions d'utilisation</a>
          </li>
          <li>
            <a href="#" class="text-white hover:underline text-xs">Politique de confidentialité</a>
          </li>
          <li>
            <a href="#" class="text-white hover:underline text-xs">F.A.Q</a>
          </li>
        </ul>
      </div>
      <div class="mr-2">
        <div class="p-1">
          <h3 class="text-white font-bold mb-1 text-xs">Abonnez-vous</h3>
          <form class="mb-1">
                <input type="text" id="input-group-1" class="text-xs block mb-3 text-sm px-2 py-1 dark:bg-blue-800 dark:border-gray-600 dark:placeholder-gray-400 focus:outline-none dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 rounded-md" placeholder="exemple@mail.com">
            <button type="submit" class="block mb-3 bg-blue-800 hover:bg-blue-900/60 text-white font-bold px-2 py-1 rounded-md mt-1 text-xs">S'abonner</button>
          </form>
        </div>
      </div>
      <div class="p-1">
        <h3 class="text-white font-bold mb-1 text-xs">Nous contacter</h3>
        <ul class="flex flex-col space-y-1">
          <li>
            <a href="#" class="text-white hover:underline text-xs">E-mail</a>
          </li>
          <li>
            <a href="#" class="text-white hover:underline text-xs">Courrier</a>
          </li>
          <li>
            <a href="#" class="text-white hover:underline text-xs">Discord</a>
          </li>
        </ul>
      </div>
    </div>
</div>
<hr class="border-white-800 my-1">
<p class="text-center text-white text-xs p-3">&copy; Spliff-Splouf 2023. Tous droits réservés.</p>
</div>
</footer>